.version.baseball /* version checker */
{
	color: #00000E;
	background-color: #03BD21;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 569.9519342110483px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 1px;
}

#u438
{
	z-index: 2;
	width: 237px;
	background-color: transparent;
	margin-left: 74px;
	position: relative;
}

#u566-4
{
	z-index: 14;
	width: 81px;
	min-height: 24px;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-left: 18px;
	margin-top: 68px;
	position: relative;
}

#u566-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 68px 0px 0px 18px;
}

#u567-4
{
	z-index: 18;
	width: 103px;
	min-height: 18px;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-left: 18px;
	position: relative;
}

#u567-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px 0px 0px 18px;
}

#u568-4
{
	z-index: 22;
	width: 93px;
	min-height: 18px;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-left: 18px;
	margin-top: 7px;
	position: relative;
}

#u568-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 7px 0px 0px 18px;
}

#u569-4
{
	z-index: 26;
	width: 111px;
	min-height: 15px;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-left: 18px;
	margin-top: 7px;
	position: relative;
}

#u569-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 7px 0px 0px 18px;
}

#u570-4
{
	z-index: 30;
	width: 143px;
	min-height: 24px;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-left: 18px;
	margin-top: 7px;
	position: relative;
}

#u570-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 7px 0px 0px 18px;
}

#u566-4:hover p,#u567-4:hover p,#u568-4:hover p,#u569-4:hover p,#u570-4:hover p
{
	color: #0000FF;
	visibility: inherit;
}

#pbuttonu526
{
	width: 0.01px;
	margin-top: 117px;
}

#buttonu526
{
	z-index: 4;
	width: 185px;
	border-width: 2px;
	border-style: solid;
	border-color: #754C24;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 12px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: #CACACA url("../images/baseball.jpg") no-repeat center center;
}

#buttonu526:hover
{
	width: 185px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
	background: #545454 url("../images/baseball.jpg") no-repeat center center;
}

#u527-4
{
	z-index: 5;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 27px;
}

#buttonu526:hover #u527-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 13px -10000px 0px 0px;
}

#buttonu526.ButtonSelected #u527-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 13px -10000px 0px 0px;
}

#buttonu526:hover #u527-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu528
{
	z-index: 9;
	width: 185px;
	border-width: 2px;
	border-style: solid;
	border-color: #754C24;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 8px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 192px;
	background: #CACACA url("../images/baseball.jpg") no-repeat center center;
}

#buttonu528:hover
{
	width: 185px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
	background: #545454 url("../images/baseball.jpg") no-repeat center center;
}

#buttonu526.ButtonSelected,#buttonu528.ButtonSelected
{
	width: 185px;
	min-height: 0px;
	margin: -1px -10000px -1px 0px;
	background: #CACACA url("../images/baseball.jpg") no-repeat center center;
}

#u529-4
{
	z-index: 10;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 33px;
}

#buttonu528:hover #u529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 17px -10000px 0px 0px;
}

#buttonu528.ButtonSelected #u529-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 17px -10000px 0px 0px;
}

#buttonu528:hover #u529-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

