.version.basketball /* version checker */
{
	color: #000010;
	background-color: #E0A8C8;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 570px;
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/bb%20court.jpg") no-repeat center top;
	background-size: contain;
}

#page_position_content
{
	padding-top: 280px;
	padding-bottom: 1px;
}

#u472-4
{
	z-index: 2;
	width: 81px;
	min-height: 24px;
	background-color: transparent;
	color: #F7931E;
	font-weight: bold;
	margin-left: 18px;
	position: relative;
}

#u472-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px 0px 0px 18px;
}

#u473-4
{
	z-index: 6;
	width: 103px;
	min-height: 18px;
	background-color: transparent;
	color: #F7931E;
	font-weight: bold;
	margin-left: 18px;
	position: relative;
}

#u473-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px 0px 0px 18px;
}

#u474-4
{
	z-index: 10;
	width: 93px;
	min-height: 18px;
	background-color: transparent;
	color: #F7931E;
	font-weight: bold;
	margin-left: 18px;
	margin-top: 7px;
	position: relative;
}

#u474-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 7px 0px 0px 18px;
}

#u475-4
{
	z-index: 14;
	width: 111px;
	min-height: 15px;
	background-color: transparent;
	color: #F7931E;
	font-weight: bold;
	margin-left: 18px;
	margin-top: 7px;
	position: relative;
}

#u475-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 7px 0px 0px 18px;
}

#u476-4
{
	z-index: 18;
	width: 143px;
	min-height: 24px;
	background-color: transparent;
	color: #F7931E;
	font-weight: bold;
	margin-left: 18px;
	margin-top: 7px;
	position: relative;
}

#u476-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 7px 0px 0px 18px;
}

#u472-4:hover p,#u473-4:hover p,#u474-4:hover p,#u475-4:hover p,#u476-4:hover p
{
	color: #0000FF;
	visibility: inherit;
}

#pbuttonu477
{
	width: 0.01px;
	margin-top: 117px;
}

#buttonu477
{
	z-index: 22;
	width: 187px;
	border-color: #787878;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	background: #CACACA url("../images/bb%20court.jpg") no-repeat center center;
}

#buttonu477:hover
{
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../images/bb%20court.jpg") no-repeat center center;
}

#u478-4
{
	z-index: 23;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 28px;
}

#buttonu477:hover #u478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 14px -10000px 0px 0px;
}

#buttonu477.ButtonSelected #u478-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 14px -10000px 0px 0px;
}

#buttonu477:hover #u478-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu480
{
	z-index: 27;
	width: 187px;
	border-color: #787878;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 193px;
	background: #CACACA url("../images/bb%20court.jpg") no-repeat center center;
}

#buttonu480:hover
{
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../images/bb%20court.jpg") no-repeat center center;
}

#buttonu477.ButtonSelected,#buttonu480.ButtonSelected
{
	margin: 0px -10000px 0px 0px;
	background: #CACACA url("../images/bb%20court.jpg") no-repeat center center;
}

#u481-4
{
	z-index: 28;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 34px;
}

#buttonu480:hover #u481-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 18px -10000px 0px 0px;
}

#buttonu480.ButtonSelected #u481-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 18px -10000px 0px 0px;
}

#buttonu480:hover #u481-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

