.version.football /* version checker */
{
	color: #0000E2;
	background-color: #F044B0;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 570px;
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/football%20field.jpg") no-repeat center top;
	background-size: contain;
}

#page_position_content
{
	padding-top: 222px;
	padding-bottom: 1px;
}

#u642
{
	z-index: 32;
	height: 12px;
	-pie-box-shadow: 0px 0px 8px 2px #94D5F0;
	-moz-box-shadow: 0px 0px 8px 2px rgba(41, 171, 226, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(41, 171, 226, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(41, 171, 226, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: #0000FF url("../images/sports%201.jpg") no-repeat center top;
}

#u642-bw
{
	z-index: 32;
	height: 14px;
}

#ppu464-4
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 14px;
}

#pu464-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 30px;
}

#u464-4
{
	z-index: 2;
	width: 81px;
	min-height: 24px;
	border-color: #39B54A;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	position: relative;
}

#u464-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 255, 0, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 255, 0, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 255, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	background-color: transparent;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 80px;
	margin: 0px -1px -1px 0px;
}

#u465-4
{
	z-index: 6;
	width: 103px;
	min-height: 18px;
	border-color: #39B54A;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	position: relative;
}

#u465-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 255, 0, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 255, 0, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 255, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	background-color: transparent;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 102px;
	margin: 0px -1px -1px 0px;
}

#u466-4
{
	z-index: 10;
	width: 93px;
	min-height: 18px;
	border-color: #39B54A;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-top: 7px;
	position: relative;
}

#u466-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 255, 0, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 255, 0, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 255, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	background-color: transparent;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 92px;
	margin: 7px -1px -1px 0px;
}

#u467-4
{
	z-index: 14;
	width: 111px;
	min-height: 15px;
	border-color: #39B54A;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-top: 7px;
	position: relative;
}

#u467-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 255, 0, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 255, 0, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 255, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	background-color: transparent;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 110px;
	margin: 7px -1px -1px 0px;
}

#u468-4
{
	z-index: 18;
	width: 143px;
	min-height: 24px;
	border-color: #39B54A;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-top: 7px;
	position: relative;
}

#u468-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 8px 2px rgba(0, 255, 0, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(0, 255, 0, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(0, 255, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #39B54A;
	background-color: transparent;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 142px;
	margin: 7px -1px -1px 0px;
}

#u464-4:hover p,#u465-4:hover p,#u466-4:hover p,#u467-4:hover p,#u468-4:hover p
{
	color: #006837;
	visibility: inherit;
}

#pu651
{
	z-index: 35;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-left: 150px;
}

#u651
{
	z-index: 0;
	width: 185px;
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u651.f3s_top
{
	background-image: url("../images/u651-full.png");
	height: 27px;
	background-position: left top;
	width: 185px;
}

#pu650-4
{
	width: 0.01px;
	position: relative;
	left: 112px;
	padding-top: 1px;
	z-index: 2;
	padding-bottom: 9px;
}

#u650-4
{
	z-index: 36;
	width: 66px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u643
{
	z-index: 33;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#u649-4
{
	z-index: 40;
	width: 114px;
	min-height: 18px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 155px;
}

#u652-4
{
	z-index: 44;
	width: 120px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 182px;
}

#u725
{
	z-index: 48;
	width: 135px;
	background-color: transparent;
	margin-left: 13px;
	margin-top: 30px;
	position: relative;
}

#u725_img
{
	padding-right: 1px;
}

#pbuttonu498
{
	width: 0.01px;
	margin-top: 55px;
}

#buttonu498
{
	z-index: 22;
	width: 168px;
	border-color: #787878;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	background: #CACACA url("../images/football%20field.jpg") no-repeat center center;
}

#u499-4
{
	z-index: 23;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 28px;
}

#buttonu498:hover #u499-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 14px -10000px 0px 0px;
}

#buttonu500
{
	z-index: 27;
	width: 167px;
	border-color: #787878;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 193px;
	background: #CACACA url("../images/football%20field.jpg") no-repeat center center;
}

#buttonu498:hover,#buttonu500:hover
{
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../images/football%20field.jpg") no-repeat center center;
}

#buttonu500.ButtonSelected
{
	margin: 0px -10000px 0px 0px;
	background: #CACACA url("../images/football%20field.jpg") no-repeat center center;
}

#u501-4
{
	z-index: 28;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 34px;
}

#buttonu500:hover #u501-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 18px -10000px 0px 0px;
}

#buttonu500.ButtonSelected #u501-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 18px -10000px 0px 0px;
}

#buttonu498:hover #u499-4 p,#buttonu500:hover #u501-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

