.version.golf /* version checker */
{
	color: #00000A;
	background-color: #20A914;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	padding-top: 10px;
	padding-bottom: 1px;
}

#u422
{
	z-index: 2;
	width: 211px;
	background-color: transparent;
	margin-left: 84px;
	position: relative;
}

#u561-4
{
	z-index: 14;
	width: 81px;
	min-height: 24px;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-left: 18px;
	margin-top: 90px;
	position: relative;
}

#u561-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 90px 0px 0px 18px;
}

#u562-4
{
	z-index: 18;
	width: 103px;
	min-height: 18px;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-left: 18px;
	position: relative;
}

#u562-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px 0px 0px 18px;
}

#u563-4
{
	z-index: 22;
	width: 93px;
	min-height: 18px;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-left: 18px;
	margin-top: 7px;
	position: relative;
}

#u563-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 7px 0px 0px 18px;
}

#u564-4
{
	z-index: 26;
	width: 111px;
	min-height: 15px;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-left: 18px;
	margin-top: 7px;
	position: relative;
}

#u564-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 7px 0px 0px 18px;
}

#u565-4
{
	z-index: 30;
	width: 143px;
	min-height: 24px;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-left: 18px;
	margin-top: 6px;
	position: relative;
}

#u565-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 6px 0px 0px 18px;
}

#u561-4:hover p,#u562-4:hover p,#u563-4:hover p,#u564-4:hover p,#u565-4:hover p
{
	color: #0000FF;
	visibility: inherit;
}

#pbuttonu522
{
	width: 0.01px;
	margin-top: 118px;
}

#buttonu522
{
	z-index: 4;
	width: 187px;
	border-color: #787878;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	background: #CACACA url("../images/golf%20art.jpg") no-repeat center center;
}

#buttonu522:hover
{
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../images/golf%20art.jpg") no-repeat center center;
}

#u523-4
{
	z-index: 5;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 28px;
}

#buttonu522:hover #u523-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 14px -10000px 0px 0px;
}

#buttonu522.ButtonSelected #u523-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 14px -10000px 0px 0px;
}

#buttonu522:hover #u523-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu524
{
	z-index: 9;
	width: 187px;
	border-color: #787878;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 193px;
	background: #CACACA url("../images/golf%20art.jpg") no-repeat center center;
}

#buttonu524:hover
{
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../images/golf%20art.jpg") no-repeat center center;
}

#buttonu522.ButtonSelected,#buttonu524.ButtonSelected
{
	margin: 0px -10000px 0px 0px;
	background: #CACACA url("../images/golf%20art.jpg") no-repeat center center;
}

#u525-4
{
	z-index: 10;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 34px;
}

#buttonu524:hover #u525-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 18px -10000px 0px 0px;
}

#buttonu524.ButtonSelected #u525-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 18px -10000px 0px 0px;
}

#buttonu524:hover #u525-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

