.version.index /* version checker */
{
	color: #0000E2;
	background-color: #539B97;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 561px;
	background-image: none;
	border-style: none;
	border-color: #1B1464;
	background-color: transparent;
}

#page_position_content
{
	margin-top: -55px;
	padding-bottom: 33px;
}

#ppu605
{
	width: 0.01px;
}

#pu605
{
	z-index: 36;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	margin-left: 14px;
}

#u605
{
	z-index: 0;
	width: 106px;
	opacity: 0.78;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=78)";
	filter: alpha(opacity=78);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u605.f3s_top
{
	background-image: url("../images/u605-sprite.png");
	width: 106px;
	overflow: hidden;
	height: 22px;
	background-position: left top;
}

._u605.f3s_mid
{
	background-image: url("../images/u605-sprite.png");
	overflow: visible;
	background-position: -106px top;
	width: 106px;
	height: 5px;
}

._u605.f3s_bot
{
	background-image: url("../images/u605-sprite.png");
	width: 106px;
	overflow: visible;
	height: 20px;
	background-position: -212px top;
}

#pu610-6
{
	width: 0.01px;
	position: relative;
	left: 4px;
	padding-top: 6px;
	z-index: 2;
	padding-bottom: 7px;
}

#u610-6
{
	z-index: 38;
	width: 97px;
	min-height: 34px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u91
{
	z-index: 2;
	height: 91px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background: transparent url("../images/my%20fan%20app%20icon.png") repeat-y center top;
}

#u91-bw
{
	z-index: 2;
	margin-top: 55px;
	height: 93px;
}

#u206
{
	z-index: 31;
	vertical-align: top;
	width: 379px;
	height: 32px;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: -9px;
	background: url("../images/sports%201-u206.png") no-repeat 0px 0px;
}

#u592
{
	z-index: 32;
	width: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 165px;
	left: 276px;
}

#u599
{
	z-index: 34;
	width: 236px;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 177px;
	left: 14px;
}

#u599 .clip_frame
{
	-webkit-border-radius: 20px 20px 20px 20px;
}

#u606
{
	z-index: 37;
	width: 176px;
	height: 45px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #0000FF;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	-moz-border-radius: 29px;
	-webkit-border-radius: 29px;
	-khtml-border-radius: 29px;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 17px;
}

#u611-4
{
	z-index: 44;
	width: 173px;
	min-height: 32px;
	background-color: transparent;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-radius: 20px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 22px;
}

#u612-4
{
	z-index: 48;
	width: 134px;
	min-height: 21px;
	background-color: transparent;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 340px;
	left: 86px;
}

#u613-3
{
	z-index: 52;
	width: 52px;
	min-height: 350px;
	background-color: transparent;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 34px;
}

#ppu183-4
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: -1px;
}

#pu183-4
{
	width: 0.01px;
	margin: -1px -10000px -2px -1px;
}

#u183-4
{
	z-index: 23;
	width: 132px;
	min-height: 19px;
	border-width: 3px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	text-align: center;
	font-size: 18px;
	color: #662D91;
	line-height: 22px;
	margin-left: 1px;
	position: relative;
}

#u183-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 255, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 132px;
	margin: 0px 0px 0px 1px;
}

#u181-4
{
	z-index: 15;
	width: 133px;
	min-height: 16px;
	border-width: 3px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	text-align: center;
	font-size: 18px;
	color: #662D91;
	line-height: 22px;
	margin-top: 8px;
	position: relative;
}

#u181-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 255, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 133px;
	margin: 8px 0px 0px;
}

#u632
{
	z-index: 59;
	width: 127px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 211px;
}

#pu182-4
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: -5px;
}

#u182-4
{
	z-index: 19;
	width: 133px;
	min-height: 17px;
	border-width: 3px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	text-align: center;
	font-size: 18px;
	color: #662D91;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: -1px;
}

#u182-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 255, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 133px;
	margin: 15px -10000px 0px 0px;
}

#u620
{
	z-index: 55;
	width: 125px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 217px;
}

#pu184-4
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 6px;
}

#u184-4
{
	z-index: 27;
	width: 133px;
	min-height: 17px;
	border-width: 3px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	text-align: center;
	font-size: 18px;
	color: #662D91;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: -1px;
}

#u184-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 255, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 133px;
	margin: 3px -10000px 0px 0px;
}

#u183-4:hover p,#u181-4:hover p,#u182-4:hover p,#u184-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u626
{
	z-index: 57;
	width: 135px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 207px;
}

#u632_img,#u626_img
{
	padding-right: 1px;
}

#u638
{
	z-index: 61;
	width: 249px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 6px;
	margin-top: 11px;
	position: relative;
}

#ppbuttonu115
{
	width: 0.01px;
	margin-left: 13px;
	margin-top: 5px;
}

#pbuttonu115
{
	width: 0.01px;
	margin-right: -10000px;
}

#buttonu115
{
	z-index: 4;
	width: 144px;
	height: 44px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-box-shadow: 0px 0px 8px 2px #BFBFBF/* glow */,
6px 6px 8px #7FB8DD/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px -1px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	position: relative;
	margin-right: -10000px;
}

._buttonu115.f3s_top
{
	background-image: url("../images/buttonu115-sprite.png");
	width: 144px;
	overflow: hidden;
	height: 16px;
	background-position: left top;
}

#pbuttonu115:hover ._buttonu115.f3s_top
{
	background-image: url("../images/buttonu115-r-sprite.png");
	width: 144px;
	overflow: hidden;
	height: 16px;
	background-position: left top;
}

._buttonu115.f3s_mid
{
	background-image: url("../images/buttonu115-sprite.png");
	overflow: visible;
	background-position: -144px top;
	width: 144px;
	height: 13px;
}

#pbuttonu115:hover ._buttonu115.f3s_mid
{
	background-image: url("../images/buttonu115-r-sprite.png");
	overflow: visible;
	background-position: -144px top;
	width: 144px;
	height: 13px;
}

._buttonu115.f3s_bot
{
	background-image: url("../images/buttonu115-sprite.png");
	width: 144px;
	overflow: visible;
	height: 14px;
	background-position: -288.45000000000005px top;
}

#pbuttonu115:hover ._buttonu115.f3s_bot
{
	background-image: url("../images/buttonu115-r-sprite.png");
	width: 144px;
	overflow: visible;
	height: 14px;
	background-position: -288.45000000000005px top;
}

#u116
{
	z-index: 6;
	height: 23px;
	width: 88px;
	vertical-align: top;
	background: url("../images/u116.png") no-repeat 0px 0px;
}

#pbuttonu115:hover #u116
{
	margin-bottom: -4px;
	position: relative;
	width: 88px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 28px;
	background: url("../images/u116-r.png") no-repeat 0px 0px;
}

#pbuttonu115 #u116
{
	margin-bottom: -4px;
	position: relative;
	width: 88px;
	margin-right: -10000px;
	margin-top: -6px;
	left: 28px;
}

#pbuttonu115:hover #buttonu115
{
	width: 144px;
	height: 44px;
	background: none;
	-pie-background: none;
	border-style: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-box-shadow: 0px 0px 8px 2px #BFBFBF/* glow */,
6px 6px 8px #7FB8DD/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px -1px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pbuttonu119
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 187px;
}

#buttonu119
{
	z-index: 10;
	width: 143px;
	height: 41px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-box-shadow: 0px 0px 8px 2px #BFBFBF/* glow */,
6px 6px 8px #7FB8DD/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px -1px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	position: relative;
	margin-right: -10000px;
}

._buttonu119.f3s_top
{
	background-image: url("../images/buttonu119-sprite.png");
	width: 143px;
	overflow: hidden;
	height: 16px;
	background-position: left top;
}

#pbuttonu119:hover ._buttonu119.f3s_top
{
	background-image: url("../images/buttonu119-r-sprite.png");
	width: 143px;
	overflow: hidden;
	height: 16px;
	background-position: left top;
}

._buttonu119.f3s_mid
{
	background-image: url("../images/buttonu119-sprite.png");
	overflow: visible;
	background-position: -143px top;
	width: 143px;
	height: 10px;
}

#pbuttonu119:hover ._buttonu119.f3s_mid
{
	background-image: url("../images/buttonu119-r-sprite.png");
	overflow: visible;
	background-position: -143px top;
	width: 143px;
	height: 10px;
}

._buttonu119.f3s_bot
{
	background-image: url("../images/buttonu119-sprite.png");
	width: 143px;
	overflow: visible;
	height: 15px;
	background-position: -286px top;
}

#pbuttonu119:hover ._buttonu119.f3s_bot
{
	background-image: url("../images/buttonu119-r-sprite.png");
	width: 143px;
	overflow: visible;
	height: 15px;
	background-position: -286px top;
}

#u120
{
	z-index: 12;
	height: 23px;
	width: 82px;
	vertical-align: top;
	background: url("../images/u120.png") no-repeat 0px 0px;
}

#pbuttonu119:hover #u120
{
	margin-bottom: -5px;
	position: relative;
	width: 82px;
	margin-right: -10000px;
	margin-top: -8px;
	left: 34px;
	background: url("../images/u120-r.png") no-repeat 0px 0px;
}

#pbuttonu119 #u120
{
	margin-bottom: -5px;
	position: relative;
	width: 82px;
	margin-right: -10000px;
	margin-top: -8px;
	left: 34px;
}

#pbuttonu119:hover #buttonu119
{
	width: 143px;
	height: 41px;
	background: none;
	-pie-background: none;
	border-style: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-box-shadow: 0px 0px 8px 2px #BFBFBF/* glow */,
6px 6px 8px #7FB8DD/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px -1px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

