.version.nascar /* version checker */
{
	color: #000001;
	background-color: #4DB94D;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #0000FF;
	background-color: transparent;
}

#page_position_content
{
	padding-bottom: 46px;
}

#u400
{
	z-index: 2;
	width: 291px;
	background-color: transparent;
	-webkit-transform: matrix(0.9998,-0.0175,0.0175,0.9998,-2,3);
	-ms-transform: matrix(0.9998,-0.0175,0.0175,0.9998,-2,3);
	-o-transform: matrix(0.9998,-0.0175,0.0175,0.9998,-2,3);
	transform: matrix(0.9998,-0.0175,0.0175,0.9998,-2,3);
	margin-left: 45px;
	margin-top: 3px;
	margin-bottom: 3px;
	position: relative;
}

#u660
{
	z-index: 36;
	vertical-align: top;
	width: 381px;
	height: 27px;
	left: -11px;
	top: -9px;
	margin-bottom: -9px;
	position: relative;
	background: url("../images/sports%201-u660.png") no-repeat 0px 0px;
}

#ppu551-4
{
	width: 0.01px;
	margin-left: 17px;
	margin-top: 14px;
}

#pu551-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u551-4
{
	z-index: 14;
	width: 81px;
	min-height: 20px;
	background-color: transparent;
	color: #2E3192;
	text-align: center;
	font-weight: bold;
	position: relative;
}

#u551-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 255, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 80px;
	margin: 0px -1px -1px 0px;
}

#u554-4
{
	z-index: 26;
	width: 72px;
	min-height: 15px;
	background-color: transparent;
	color: #2E3192;
	text-align: center;
	font-weight: bold;
	margin-top: 6px;
	position: relative;
}

#u554-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 255, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 71px;
	margin: 6px -1px -1px 0px;
}

#u552-4
{
	z-index: 18;
	width: 111px;
	min-height: 18px;
	background-color: transparent;
	color: #2E3192;
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
	position: relative;
}

#u552-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 255, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 110px;
	margin: 10px -1px -1px 0px;
}

#u555-4
{
	z-index: 30;
	width: 102px;
	min-height: 22px;
	background-color: transparent;
	color: #2E3192;
	text-align: center;
	font-weight: bold;
	margin-top: 9px;
	position: relative;
}

#u555-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 255, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 101px;
	margin: 9px -1px -1px 0px;
}

#u553-4
{
	z-index: 22;
	width: 98px;
	min-height: 18px;
	background-color: transparent;
	color: #2E3192;
	text-align: center;
	font-weight: bold;
	margin-top: 1px;
	position: relative;
}

#u553-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 255, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 97px;
	margin: 1px -1px -1px 0px;
}

#u551-4:hover p,#u554-4:hover p,#u552-4:hover p,#u555-4:hover p,#u553-4:hover p
{
	color: #00A99D;
	visibility: inherit;
}

#pu664
{
	z-index: 38;
	width: 0.01px;
	position: relative;
	margin: 99px -10000px -1px 122px;
}

#u664
{
	z-index: 0;
	width: 156px;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u664.f3s_top
{
	background-image: url("../images/u664-sprite.png");
	width: 156px;
	overflow: hidden;
	height: 17px;
	background-position: left top;
}

._u664.f3s_mid
{
	background-image: url("../images/u664-sprite.png");
	overflow: visible;
	background-position: -156px top;
	width: 156px;
	height: 12px;
}

._u664.f3s_bot
{
	background-image: url("../images/u664-sprite.png");
	width: 156px;
	overflow: visible;
	height: 15px;
	background-position: -312px top;
}

#pu662-4
{
	width: 0.01px;
	padding-bottom: 0.5499999999999545px;
	position: relative;
	padding-top: 3px;
	z-index: 2;
}

#u662-4
{
	z-index: 43;
	width: 155px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	position: relative;
}

#u663-4
{
	z-index: 39;
	width: 134px;
	min-height: 21px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	margin-left: 8px;
	position: relative;
}

#u654
{
	z-index: 34;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#pu665
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 13px;
}

#u665
{
	z-index: 47;
	width: 139px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u734
{
	z-index: 49;
	width: 84px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 155px;
}

#u740
{
	z-index: 51;
	width: 60px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 258px;
}

#u740_img
{
	padding-bottom: 1px;
}

#u661
{
	z-index: 37;
	vertical-align: top;
	width: 381px;
	height: 27px;
	left: -11px;
	margin-top: 5px;
	position: relative;
	background: url("../images/sports%201-u661.png") no-repeat 0px 0px;
}

#pbuttonu518
{
	width: 0.01px;
	margin-left: 10px;
}

#buttonu518
{
	z-index: 4;
	width: 164px;
	border-width: 3px;
	border-style: solid;
	border-color: #2E3192;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 11px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: #CACACA url("../images/race.jpg") no-repeat center bottom;
}

#u519-4
{
	z-index: 5;
	width: 79px;
	min-height: 23px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 51px;
}

#buttonu518:hover #u519-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 13px -10000px 0px 0px;
}

#buttonu518.ButtonSelected #u519-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 13px -10000px 0px 0px;
}

#buttonu518:hover #u519-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu520
{
	z-index: 9;
	width: 164px;
	border-width: 3px;
	border-style: solid;
	border-color: #2E3192;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 12px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 174px;
	background: #CACACA url("../images/race.jpg") no-repeat center bottom;
}

#buttonu518:hover,#buttonu520:hover
{
	width: 164px;
	min-height: 0px;
	margin: -1px -10000px -2px 0px;
	background: #545454 url("../images/race.jpg") no-repeat center bottom;
}

#buttonu520.ButtonSelected
{
	width: 164px;
	min-height: 0px;
	margin: -1px -10000px -2px 0px;
	background: #CACACA url("../images/race.jpg") no-repeat center bottom;
}

#u521-4
{
	z-index: 10;
	width: 93px;
	min-height: 23px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 41px;
}

#buttonu520:hover #u521-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 12px -10000px 0px 0px;
}

#buttonu520.ButtonSelected #u521-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 12px -10000px 0px 0px;
}

#buttonu520:hover #u521-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

