.version.socer /* version checker */
{
	color: #000004;
	background-color: #24E296;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	padding-top: 1px;
	padding-bottom: 1px;
}

#u370
{
	z-index: 2;
	width: 380px;
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,380,227);
	-ms-transform: matrix(-1,0,0,-1,380,227);
	-o-transform: matrix(-1,0,0,-1,380,227);
	transform: matrix(-1,0,0,-1,380,227);
	position: relative;
}

#u370_clip
{
	overflow: hidden;
	width: 380px;
	height: 227px;
}

#u370_img
{
	margin: -55px -11px -39px;
}

#u546-4
{
	z-index: 14;
	width: 81px;
	min-height: 24px;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-left: 18px;
	margin-top: 52px;
	position: relative;
}

#u546-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 52px 0px 0px 18px;
}

#u547-4
{
	z-index: 18;
	width: 103px;
	min-height: 18px;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-left: 18px;
	position: relative;
}

#u547-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px 0px 0px 18px;
}

#u548-4
{
	z-index: 22;
	width: 93px;
	min-height: 18px;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-left: 18px;
	margin-top: 6px;
	position: relative;
}

#u548-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 6px 0px 0px 18px;
}

#u549-4
{
	z-index: 26;
	width: 111px;
	min-height: 15px;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-left: 18px;
	margin-top: 7px;
	position: relative;
}

#u549-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 7px 0px 0px 18px;
}

#u550-4
{
	z-index: 30;
	width: 143px;
	min-height: 24px;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-left: 18px;
	margin-top: 7px;
	position: relative;
}

#u550-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 7px 0px 0px 18px;
}

#u546-4:hover p,#u547-4:hover p,#u548-4:hover p,#u549-4:hover p,#u550-4:hover p
{
	color: #0000FF;
	visibility: inherit;
}

#pbuttonu508
{
	width: 0.01px;
	margin-top: 118px;
}

#buttonu508
{
	z-index: 4;
	width: 187px;
	border-color: #787878;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	background: #CACACA url("../images/soccer.jpg") no-repeat center center;
}

#buttonu508:hover
{
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../images/soccer.jpg") no-repeat center center;
}

#u509-4
{
	z-index: 5;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 28px;
}

#buttonu508:hover #u509-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 14px -10000px 0px 0px;
}

#buttonu508.ButtonSelected #u509-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 14px -10000px 0px 0px;
}

#buttonu508:hover #u509-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu510
{
	z-index: 9;
	width: 187px;
	border-color: #787878;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 193px;
	background: #CACACA url("../images/soccer.jpg") no-repeat center center;
}

#buttonu510:hover
{
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../images/soccer.jpg") no-repeat center center;
}

#buttonu508.ButtonSelected,#buttonu510.ButtonSelected
{
	margin: 0px -10000px 0px 0px;
	background: #CACACA url("../images/soccer.jpg") no-repeat center center;
}

#u511-4
{
	z-index: 10;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 34px;
}

#buttonu510:hover #u511-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 18px -10000px 0px 0px;
}

#buttonu510.ButtonSelected #u511-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 18px -10000px 0px 0px;
}

#buttonu510:hover #u511-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

