.version.teams /* version checker */
{
	color: #0000FD;
	background-color: #834855;
}

@-ms-viewport
{
	width: 364px;
}

@-webkit-viewport
{
	width: 364px;
}

@-o-viewport
{
	width: 364px;
}

@-moz-viewport
{
	width: 364px;
}

@viewport
{
	width: 364px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 570px;
	background-image: none;
	border-width: 2px;
	border-style: solid;
	border-color: #0000FF;
	background-color: transparent;
	margin-top: -2px;
}

#page_position_content
{
	margin-top: -2px;
	padding-bottom: 25px;
}

#u682
{
	z-index: 34;
	width: 361px;
	height: 91px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	left: -2px;
	position: relative;
	background: transparent url("../images/my%20fan%20app%20icon.png") repeat-y center top;
}

#u683
{
	z-index: 35;
	vertical-align: top;
	width: 381px;
	height: 26px;
	left: -11px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
	background: url("../images/sports%201-u683.png") no-repeat 0px 0px;
}

#ppu680-4
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 20px;
}

#pu680-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: -1px;
}

#u680-4
{
	z-index: 26;
	width: 132px;
	min-height: 19px;
	border-width: 3px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	text-align: center;
	font-size: 18px;
	color: #662D91;
	line-height: 22px;
	margin-left: 1px;
	position: relative;
}

#u680-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 255, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 132px;
	margin: 0px 0px 0px 1px;
}

#u678-4
{
	z-index: 18;
	width: 133px;
	min-height: 16px;
	border-width: 3px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	text-align: center;
	font-size: 18px;
	color: #662D91;
	line-height: 22px;
	margin-top: 5px;
	position: relative;
}

#u678-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 255, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 133px;
	margin: 5px 0px 0px;
}

#u679-4
{
	z-index: 22;
	width: 133px;
	min-height: 17px;
	border-width: 3px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	text-align: center;
	font-size: 18px;
	color: #662D91;
	line-height: 22px;
	margin-top: 6px;
	position: relative;
}

#u679-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 255, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 133px;
	margin: 6px 0px 0px;
}

#u698
{
	z-index: 49;
	width: 201px;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

._u698.f3s_top
{
	background-image: url("../images/u698-sprite.png");
	width: 201px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

._u698.f3s_mid
{
	background-image: url("../images/u698-sprite.png");
	overflow: visible;
	background-position: -201px top;
	width: 201px;
	height: 92px;
}

._u698.f3s_bot
{
	background-image: url("../images/u698-sprite.png");
	width: 201px;
	overflow: visible;
	height: 7px;
	background-position: -402px top;
}

#u700
{
	z-index: 51;
	width: 136px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

#u706-4
{
	z-index: 53;
	width: 64px;
	min-height: 44px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 291px;
}

#u707-4
{
	z-index: 57;
	width: 63px;
	background-color: transparent;
	color: #FF0000;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 291px;
}

#ppu681-4
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: -7px;
}

#pu681-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin: -1px -10000px -2px -1px;
}

#u681-4
{
	z-index: 30;
	width: 133px;
	min-height: 17px;
	border-width: 3px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	text-align: center;
	font-size: 18px;
	color: #662D91;
	line-height: 22px;
	position: relative;
}

#u676-4
{
	z-index: 10;
	width: 132px;
	min-height: 19px;
	border-width: 3px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	text-align: center;
	font-size: 18px;
	color: #662D91;
	line-height: 22px;
	margin-left: 1px;
	margin-top: 5px;
	position: relative;
}

#u676-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 255, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 132px;
	margin: 5px 0px 0px 1px;
}

#u674-4
{
	z-index: 2;
	width: 133px;
	min-height: 16px;
	border-width: 3px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	text-align: center;
	font-size: 18px;
	color: #662D91;
	line-height: 22px;
	margin-top: 6px;
	position: relative;
}

#u674-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 255, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 133px;
	margin: 6px 0px 0px;
}

#u675-4
{
	z-index: 6;
	width: 133px;
	min-height: 17px;
	border-width: 3px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	text-align: center;
	font-size: 18px;
	color: #662D91;
	line-height: 22px;
	margin-top: 5px;
	position: relative;
}

#u675-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 255, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 133px;
	margin: 5px 0px 0px;
}

#pu697
{
	z-index: 48;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 152px;
}

#u697
{
	z-index: 0;
	width: 203px;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu708
{
	width: 0.01px;
	position: relative;
	z-index: 2;
	padding-bottom: 1px;
}

#u708
{
	z-index: 61;
	width: 140px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u714-4
{
	z-index: 63;
	width: 66px;
	min-height: 44px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 290px;
}

#u715-4
{
	z-index: 67;
	width: 62px;
	background-color: transparent;
	color: #FF0000;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 293px;
}

#ppu677-4
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 3px;
}

#pu677-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 4px;
	margin-left: -1px;
}

#u677-4
{
	z-index: 14;
	width: 133px;
	min-height: 17px;
	border-width: 3px;
	border-style: solid;
	border-color: #1B1464;
	background-color: transparent;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	-khtml-border-radius: 11px;
	border-radius: 11px;
	text-align: center;
	font-size: 18px;
	color: #662D91;
	line-height: 22px;
	position: relative;
}

#u681-4:hover,#u677-4:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 255, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 255, 0.5);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 133px;
	margin: 0px;
}

#u680-4:hover p,#u678-4:hover p,#u679-4:hover p,#u681-4:hover p,#u676-4:hover p,#u674-4:hover p,#u675-4:hover p,#u677-4:hover p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u728
{
	z-index: 82;
	width: 127px;
	background-color: transparent;
	margin-left: 10px;
	margin-top: 33px;
	position: relative;
}

#u728_img
{
	padding-right: 1px;
}

#u699
{
	z-index: 50;
	width: 203px;
	opacity: 0.25;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	position: relative;
	margin-right: -10000px;
	left: 154px;
}

._u697.f3s_top,._u699.f3s_top
{
	background-image: url("../images/u697-sprite.png");
	width: 203px;
	overflow: hidden;
	height: 7px;
	background-position: left top;
}

._u697.f3s_mid,._u699.f3s_mid
{
	background-image: url("../images/u697-sprite.png");
	overflow: visible;
	background-position: -203px top;
	width: 203px;
	height: 92px;
}

._u697.f3s_bot,._u699.f3s_bot
{
	background-image: url("../images/u697-sprite.png");
	width: 203px;
	overflow: visible;
	height: 7px;
	background-position: -406px top;
}

#u716
{
	z-index: 71;
	width: 140px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 152px;
}

#u722-4
{
	z-index: 73;
	width: 64px;
	background-color: transparent;
	color: #FF0000;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 290px;
}

#u723-4
{
	z-index: 77;
	width: 64px;
	min-height: 64px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 290px;
}

#u724
{
	z-index: 81;
	vertical-align: top;
	width: 381px;
	height: 29px;
	left: -11px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
	background: url("../images/sports%201-u724.png") no-repeat 0px 0px;
}

#ppbuttonu692
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 11px;
}

#pbuttonu692
{
	width: 0.01px;
	margin-right: -10000px;
}

#buttonu692
{
	z-index: 37;
	width: 166px;
	height: 44px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-box-shadow: 0px 0px 8px 2px #BFBFBF/* glow */,
6px 6px 8px #7FB8DD/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px -1px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	position: relative;
	margin-right: -10000px;
}

._buttonu692.f3s_top
{
	background-image: url("../images/buttonu692-sprite.png");
	width: 166px;
	overflow: hidden;
	height: 16px;
	background-position: left top;
}

#pbuttonu692:hover ._buttonu692.f3s_top
{
	background-image: url("../images/buttonu692-r-sprite.png");
	width: 166px;
	overflow: hidden;
	height: 16px;
	background-position: left top;
}

._buttonu692.f3s_mid
{
	background-image: url("../images/buttonu692-sprite.png");
	overflow: visible;
	background-position: -166px top;
	width: 166px;
	height: 13px;
}

#pbuttonu692:hover ._buttonu692.f3s_mid
{
	background-image: url("../images/buttonu692-r-sprite.png");
	overflow: visible;
	background-position: -166px top;
	width: 166px;
	height: 13px;
}

._buttonu692.f3s_bot
{
	background-image: url("../images/buttonu692-sprite.png");
	width: 166px;
	overflow: visible;
	height: 14px;
	background-position: -332px top;
}

#pbuttonu692:hover ._buttonu692.f3s_bot
{
	background-image: url("../images/buttonu692-r-sprite.png");
	width: 166px;
	overflow: visible;
	height: 14px;
	background-position: -332px top;
}

#u693
{
	z-index: 39;
	height: 23px;
	width: 88px;
	vertical-align: top;
	background: url("../images/u693.png") no-repeat 0px 0px;
}

#pbuttonu692:hover #u693
{
	margin-bottom: -3px;
	position: relative;
	width: 88px;
	margin-right: -10000px;
	margin-top: -7px;
	left: 42px;
	background: url("../images/u693-r.png") no-repeat 0px 0px;
}

#pbuttonu692 #u693
{
	margin-bottom: -3px;
	position: relative;
	width: 88px;
	margin-right: -10000px;
	margin-top: -7px;
	left: 42px;
}

#pbuttonu692:hover #buttonu692
{
	width: 166px;
	height: 44px;
	background: none;
	-pie-background: none;
	border-style: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-box-shadow: 0px 0px 8px 2px #BFBFBF/* glow */,
6px 6px 8px #7FB8DD/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px -1px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pbuttonu694
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 2px;
	margin-left: 186px;
}

#buttonu694
{
	z-index: 43;
	width: 168px;
	height: 41px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-box-shadow: 0px 0px 8px 2px #BFBFBF/* glow */,
6px 6px 8px #7FB8DD/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px -1px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	position: relative;
	margin-right: -10000px;
}

._buttonu694.f3s_top
{
	background-image: url("../images/buttonu694-sprite.png");
	width: 168px;
	overflow: hidden;
	height: 16px;
	background-position: left top;
}

#pbuttonu694:hover ._buttonu694.f3s_top
{
	background-image: url("../images/buttonu694-r-sprite.png");
	width: 168px;
	overflow: hidden;
	height: 16px;
	background-position: left top;
}

._buttonu694.f3s_mid
{
	background-image: url("../images/buttonu694-sprite.png");
	overflow: visible;
	background-position: -168px top;
	width: 168px;
	height: 10px;
}

#pbuttonu694:hover ._buttonu694.f3s_mid
{
	background-image: url("../images/buttonu694-r-sprite.png");
	overflow: visible;
	background-position: -168px top;
	width: 168px;
	height: 10px;
}

._buttonu694.f3s_bot
{
	background-image: url("../images/buttonu694-sprite.png");
	width: 168px;
	overflow: visible;
	height: 15px;
	background-position: -336px top;
}

#pbuttonu694:hover ._buttonu694.f3s_bot
{
	background-image: url("../images/buttonu694-r-sprite.png");
	width: 168px;
	overflow: visible;
	height: 15px;
	background-position: -336px top;
}

#u695
{
	z-index: 45;
	height: 23px;
	width: 82px;
	vertical-align: top;
	background: url("../images/u695.png") no-repeat 0px 0px;
}

#pbuttonu694:hover #u695
{
	margin-bottom: -6px;
	position: relative;
	width: 82px;
	margin-right: -10000px;
	margin-top: -7px;
	left: 46px;
	background: url("../images/u695-r.png") no-repeat 0px 0px;
}

#pbuttonu694 #u695
{
	margin-bottom: -6px;
	position: relative;
	width: 82px;
	margin-right: -10000px;
	margin-top: -7px;
	left: 46px;
}

#pbuttonu694:hover #buttonu694
{
	width: 168px;
	height: 41px;
	background: none;
	-pie-background: none;
	border-style: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-box-shadow: 0px 0px 8px 2px #BFBFBF/* glow */,
6px 6px 8px #7FB8DD/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px -1px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(127, 127, 127, 0.5)/* glow */,
6px 6px 8px rgba(0, 113, 188, 0.5)/* drop shadow*/;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

body
{
	position: relative;
	min-width: 364px;
}

#page .verticalspacer
{
	clear: both;
}

