.version.tennis /* version checker */
{
	color: #0000FE;
	background-color: #DBCC89;
}

@-ms-viewport
{
	width: 360px;
}

@-webkit-viewport
{
	width: 360px;
}

@-o-viewport
{
	width: 360px;
}

@-moz-viewport
{
	width: 360px;
}

@viewport
{
	width: 360px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 570px;
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/tennis%20court.jpg") no-repeat center top;
	background-size: contain;
}

#page_position_content
{
	padding-top: 280px;
	padding-bottom: 1px;
}

#u571-4
{
	z-index: 12;
	width: 81px;
	min-height: 24px;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-left: 18px;
	position: relative;
}

#u571-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px 0px 0px 18px;
}

#u572-4
{
	z-index: 16;
	width: 103px;
	min-height: 18px;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-left: 18px;
	position: relative;
}

#u572-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 0px 0px 0px 18px;
}

#u573-4
{
	z-index: 20;
	width: 93px;
	min-height: 18px;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-left: 18px;
	margin-top: 7px;
	position: relative;
}

#u573-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	margin: 7px 0px 0px 18px;
}

#u574-4
{
	z-index: 24;
	width: 111px;
	min-height: 15px;
	background-color: transparent;
	color: #39B54A;
	font-weight: bold;
	margin-left: 18px;
	margin-top: 7px;
	position: relative;
}

#u574-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 7px 0px 0px 18px;
}

#u571-4:hover p,#u572-4:hover p,#u573-4:hover p,#u574-4:hover p
{
	color: #0000FF;
	visibility: inherit;
}

#pbuttonu530
{
	width: 0.01px;
	margin-top: 148px;
}

#buttonu530
{
	z-index: 2;
	width: 187px;
	border-color: #787878;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	background: #CACACA url("../images/tennis%20court.jpg") no-repeat center center;
}

#buttonu530:hover
{
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../images/tennis%20court.jpg") no-repeat center center;
}

#u531-4
{
	z-index: 3;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 29px;
}

#buttonu530:hover #u531-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 25px -10000px 0px 0px;
}

#buttonu530:hover #u531-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu532
{
	z-index: 7;
	width: 187px;
	border-color: #787878;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	left: 193px;
	background: #CACACA url("../images/tennis%20court.jpg") no-repeat center center;
}

#buttonu532:hover
{
	margin: 0px -10000px 0px 0px;
	background: #545454 url("../images/tennis%20court.jpg") no-repeat center center;
}

#buttonu530.ButtonSelected,#buttonu532.ButtonSelected
{
	margin: 0px -10000px 0px 0px;
	background: #CACACA url("../images/tennis%20court.jpg") no-repeat center center;
}

#u533-4
{
	z-index: 8;
	width: 119px;
	min-height: 23px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 1px;
	line-height: 22px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 34px;
}

#buttonu530.ButtonSelected #u531-4,#buttonu532:hover #u533-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 25px -10000px 0px 0px;
}

#buttonu532.ButtonSelected #u533-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 25px -10000px 0px 0px;
}

#buttonu532:hover #u533-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

body
{
	position: relative;
	min-width: 360px;
}

#page .verticalspacer
{
	clear: both;
}

