.version.wall /* version checker */
{
	color: #000013;
	background-color: #90FFB7;
}

@-ms-viewport
{
	width: 364px;
}

@-webkit-viewport
{
	width: 364px;
}

@-o-viewport
{
	width: 364px;
}

@-moz-viewport
{
	width: 364px;
}

@viewport
{
	width: 364px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 570px;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #0071BC));
	background: -webkit-linear-gradient(top,#FFFFFF ,#0071BC 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#0071BC 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#0071BC 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFFFF, endColorstr=#FF0071BC, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FF0071BC', GradientType=0)";
	border-width: 2px;
	border-style: solid;
	border-color: #0000FF;
	margin-top: -2px;
}

#page_position_content
{
	padding-bottom: 30px;
}

#u155
{
	z-index: 2;
	width: 361px;
	height: 91px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	left: -2px;
	position: relative;
	background: transparent url("../images/my%20fan%20app%20icon.png") repeat-y center top;
}

#pu166
{
	width: 0.01px;
	margin-top: 2px;
}

#u166
{
	z-index: 31;
	width: 360px;
	background-color: transparent;
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
	-khtml-border-radius: 19px;
	border-radius: 19px;
	position: relative;
	margin-right: -10000px;
}

#u166 .clip_frame
{
	-webkit-border-radius: 19px 19px 19px 19px;
}

#u168-6
{
	z-index: 33;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 9px;
}

#u169-6
{
	z-index: 39;
	width: 162px;
	background-color: #8787FF;
	background-color: rgba(0, 0, 255, 0.47);
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	-khtml-border-radius: 18px;
	border-radius: 18px;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 1px;
	-pie-background: rgba(0, 0, 255, 0.47);
}

#u731
{
	z-index: 55;
	width: 361px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	position: relative;
}

._u731.f3s_top
{
	background-image: url("../images/u731-full.png");
	height: 11px;
	background-position: left top;
	width: 361px;
}

#pu156
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 2px;
}

#u156
{
	z-index: 3;
	width: 359px;
	background-color: transparent;
	-moz-border-radius: 29px;
	-webkit-border-radius: 29px;
	-khtml-border-radius: 29px;
	border-radius: 29px;
	position: relative;
	margin-right: -10000px;
}

#u156 .clip_frame
{
	-webkit-border-radius: 29px 29px 29px 29px;
}

#u160-6
{
	z-index: 7;
	width: 115px;
	min-height: 21px;
	background-color: #757575;
	background-color: rgba(0, 0, 0, 0.54);
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	-khtml-border-radius: 18px;
	border-radius: 18px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 8px;
	-pie-background: rgba(0, 0, 0, 0.54);
}

#u170-6
{
	z-index: 45;
	width: 115px;
	background-color: #6B6BFF;
	background-color: rgba(0, 0, 255, 0.58);
	-moz-border-radius: 21px;
	-webkit-border-radius: 21px;
	-khtml-border-radius: 21px;
	border-radius: 21px;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 1px;
	-pie-background: rgba(0, 0, 255, 0.58);
}

#u169,#u169-3,#u170,#u170-3
{
	color: #FFFFFF;
}

#u732
{
	z-index: 56;
	width: 361px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	margin-top: 4px;
	position: relative;
}

._u732.f3s_top
{
	background-image: url("../images/u732-full.png");
	height: 10px;
	background-position: left top;
	width: 361px;
}

#pu158
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: -1px;
}

#u158
{
	z-index: 5;
	width: 344px;
	background-color: transparent;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	-khtml-border-radius: 24px;
	border-radius: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u158 .clip_frame
{
	-webkit-border-radius: 24px 24px 24px 24px;
}

#u161-6
{
	z-index: 13;
	width: 117px;
	min-height: 34px;
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u171-4
{
	z-index: 51;
	width: 135px;
	min-height: 37px;
	background-color: #9B9BFF;
	background-color: rgba(0, 0, 255, 0.39);
	-moz-border-radius: 19px;
	-webkit-border-radius: 19px;
	-khtml-border-radius: 19px;
	border-radius: 19px;
	color: #FFFFFF;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 7px;
	-pie-background: rgba(0, 0, 255, 0.39);
}

#u733
{
	z-index: 57;
	width: 361px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5);
	top: -4px;
	position: relative;
}

._u733.f3s_top
{
	background-image: url("../images/u731-full.png");
	height: 11px;
	background-position: left top;
	width: 361px;
	margin-bottom: -4px;
}

#ppbuttonu162
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: -2px;
}

#pbuttonu162
{
	width: 0.01px;
	margin-right: -10000px;
}

#buttonu162
{
	z-index: 20;
	width: 156px;
	height: 44px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFF7F/* glow */,
6px 6px 8px #94D5F0/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 0, 0.5)/* glow */,
6px 6px 8px rgba(41, 171, 226, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 0, 0.5)/* glow */,
6px 6px 8px -1px rgba(41, 171, 226, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 0, 0.5)/* glow */,
6px 6px 8px rgba(41, 171, 226, 0.5)/* drop shadow*/;
	position: relative;
	margin-right: -10000px;
}

._buttonu162.f3s_top
{
	background-image: url("../images/buttonu162-sprite.png");
	width: 156px;
	overflow: hidden;
	height: 16px;
	background-position: left top;
}

#pbuttonu162:hover ._buttonu162.f3s_top
{
	background-image: url("../images/buttonu162-r-sprite.png");
	width: 156px;
	overflow: hidden;
	height: 16px;
	background-position: left top;
}

._buttonu162.f3s_mid
{
	background-image: url("../images/buttonu162-sprite.png");
	overflow: visible;
	background-position: -156px top;
	width: 156px;
	height: 13px;
}

#pbuttonu162:hover ._buttonu162.f3s_mid
{
	background-image: url("../images/buttonu162-r-sprite.png");
	overflow: visible;
	background-position: -156px top;
	width: 156px;
	height: 13px;
}

._buttonu162.f3s_bot
{
	background-image: url("../images/buttonu162-sprite.png");
	width: 156px;
	overflow: visible;
	height: 14px;
	background-position: -312px top;
}

#pbuttonu162:hover ._buttonu162.f3s_bot
{
	background-image: url("../images/buttonu162-r-sprite.png");
	width: 156px;
	overflow: visible;
	height: 14px;
	background-position: -312px top;
}

#u163
{
	z-index: 22;
	height: 23px;
	width: 88px;
	vertical-align: top;
	background: url("../images/u163.png") no-repeat 0px 0px;
}

#pbuttonu162:hover #u163
{
	margin-bottom: -3px;
	position: relative;
	width: 88px;
	margin-right: -10000px;
	margin-top: -7px;
	left: 52px;
	background: url("../images/u163-r.png") no-repeat 0px 0px;
}

#pbuttonu162 #u163
{
	margin-bottom: -3px;
	position: relative;
	width: 88px;
	margin-right: -10000px;
	margin-top: -7px;
	left: 52px;
}

#pbuttonu162:hover #buttonu162
{
	width: 156px;
	height: 44px;
	background: none;
	-pie-background: none;
	border-style: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFF7F/* glow */,
6px 6px 8px #94D5F0/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 0, 0.5)/* glow */,
6px 6px 8px rgba(41, 171, 226, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 0, 0.5)/* glow */,
6px 6px 8px -1px rgba(41, 171, 226, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 0, 0.5)/* glow */,
6px 6px 8px rgba(41, 171, 226, 0.5)/* drop shadow*/;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

#pbuttonu164
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 3px;
	margin-left: 191px;
}

#buttonu164
{
	z-index: 26;
	width: 156px;
	height: 41px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFF7F/* glow */,
6px 6px 8px #94D5F0/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 0, 0.5)/* glow */,
6px 6px 8px rgba(41, 171, 226, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 0, 0.5)/* glow */,
6px 6px 8px -1px rgba(41, 171, 226, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 0, 0.5)/* glow */,
6px 6px 8px rgba(41, 171, 226, 0.5)/* drop shadow*/;
	position: relative;
	margin-right: -10000px;
}

._buttonu164.f3s_top
{
	background-image: url("../images/buttonu164-sprite.png");
	width: 156px;
	overflow: hidden;
	height: 16px;
	background-position: left top;
}

#pbuttonu164:hover ._buttonu164.f3s_top
{
	background-image: url("../images/buttonu164-r-sprite.png");
	width: 156px;
	overflow: hidden;
	height: 16px;
	background-position: left top;
}

._buttonu164.f3s_mid
{
	background-image: url("../images/buttonu164-sprite.png");
	overflow: visible;
	background-position: -156px top;
	width: 156px;
	height: 10px;
}

#pbuttonu164:hover ._buttonu164.f3s_mid
{
	background-image: url("../images/buttonu164-r-sprite.png");
	overflow: visible;
	background-position: -156px top;
	width: 156px;
	height: 10px;
}

._buttonu164.f3s_bot
{
	background-image: url("../images/buttonu164-sprite.png");
	width: 156px;
	overflow: visible;
	height: 15px;
	background-position: -312px top;
}

#pbuttonu164:hover ._buttonu164.f3s_bot
{
	background-image: url("../images/buttonu164-r-sprite.png");
	width: 156px;
	overflow: visible;
	height: 15px;
	background-position: -312px top;
}

#u165
{
	z-index: 28;
	height: 23px;
	width: 82px;
	vertical-align: top;
	background: url("../images/u165.png") no-repeat 0px 0px;
}

#pbuttonu164:hover #u165
{
	margin-bottom: -5px;
	position: relative;
	width: 82px;
	margin-right: -10000px;
	margin-top: -8px;
	left: 44px;
	background: url("../images/u165-r.png") no-repeat 0px 0px;
}

#pbuttonu164 #u165
{
	margin-bottom: -5px;
	position: relative;
	width: 82px;
	margin-right: -10000px;
	margin-top: -8px;
	left: 44px;
}

#pbuttonu164:hover #buttonu164
{
	width: 156px;
	height: 41px;
	background: none;
	-pie-background: none;
	border-style: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFF7F/* glow */,
6px 6px 8px #94D5F0/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 0, 0.5)/* glow */,
6px 6px 8px rgba(41, 171, 226, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 0, 0.5)/* glow */,
6px 6px 8px -1px rgba(41, 171, 226, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 0, 0.5)/* glow */,
6px 6px 8px rgba(41, 171, 226, 0.5)/* drop shadow*/;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
}

body
{
	position: relative;
	min-width: 364px;
}

#page .verticalspacer
{
	clear: both;
}

